<% if (params.notfound == "_") {%>
<script>
    console.log('gay')
</script>
<% } else { %>
<script>
    console.log('gay2')
</script>
<% } %>

<h1>
    pagenotfound:
    <%= params.pagenotfound %>
</h1>
<%- include('pagenotfound.ejs') %>
<%- include('footer.ejs') %>
