<script server>
    
    // Get an authenticated client for the current request
    const client = pb({ request })
    const blogposts = client.collection('blogposts').getList(
        1, // page
        3, // perPage
        {
            sort: '-created',
            filter: 'isDeleted = false'
        });

    const singleBlog = blogposts.items.find(post => post.id === params.postId);
</script>

<template id="counter-template">
    My count is {{ count }}
    <button @click="inc">+</button>

</template>

<% if (typeof(params.postId) === "undefined") { %>
    <%- include('blogcard.ejs', blogposts) %>
<% } else { %>
    <%- include('blogpage.ejs', singleBlog) %>
<% } %>

